<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Github Profiles</title>

        <link rel="stylesheet" href="./public/css/index.css">
    </head>
    <body>
        <div id="search-page">
            <div id="container">
                <span id="dataProfile" data-profile="{{this.data}}" hidden></span>
                <div class=".search-bar">  
                    <form id="send-username" action="/profile" method="GET">
                        <input name="username" type="text" placeholder="insert a github username..." required>
                        <input type="submit" name="" value="Search">
                    </form>
                </div>
                {{#if this.data.name}}
                    <div name="profile" id="profile-info">
                        <img src="{{this.data.avatar}}">
                        <p>NOME: {{this.data.name}}</p>
                        <p>USERNAME: {{this.data.username}}</p>
                        <p>FOLLOWERS: {{this.data.followers}}</p>
                        <p>REPOSITORIES: {{this.data.num_repos}}</p>
                        <div id="profile-repos">
                            <p>Top 4 Repositories:</p>
                            {{#each this.data.repos}}
                            <p>{{this.repo_name}} | {{this.forks}} | {{this.stars}}</p>
                            {{/each}}
                        </div>

                    </div>
                {{else}}
                    {{#if this.data.validation}}
                    <div name="profile" id="profile-info">
                        <span class="alert">{{this.data.validation}}</span>
                    </div>
                        
                    {{else}}
                    <div name="profile" id="profile-info"></div>
                    {{/if}}
                {{/if}}
                          
            </div>
        </div>
        <script src="./public/scripts/index.js"></script>
    </body>
</html>