<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Github Profiles</title>

        <link rel="stylesheet" href="./public/css/index.css">

        <script src="public/scripts/index.js"></script>

    </head>
    <body>
        <div id="search-page">
            <div id="container">
                <div class=".search-bar">  
                    <form id="send-username" action="/user" method="POST">
                        <input name="username" type="text" placeholder="insert a github username...">
                        <input type="submit" name="" value="Search" onclick="searchUser()">
                    </form>
                </div>
                <div id="profile-info" class="search-result">

                    <p>GITHUB USER PROFILE</p>
                    <p>avatar: <img src="{{userWithRepos.avatar}}"></p>          
                    <p>name: {{userWithRepos.name}}</p> 
                    <p>username: {{userWithRepos.username}}</p>
                    <p>followers: {{userWithRepos.followers}}</p>
                    <p>num_repos: {{userWithRepos.num_repos}}</p>        
                
                </div>          
            </div>
        </div>
        <script>
            $('#send-username').on("submit", () => {
                $.ajax({
                    url: '/user',
                    type: 'POST',
                    cache: false,
                    data: {$('#send-username').serializer()}
                });
            });
        </script>
    </body>
</html>